<section class="phx-hero">
  <%= form_for @conn, Routes.page_path(@conn, :xml), [method: "post", multipart: true], fn f -> %>
    <%= file_input f, :for, accept: "application/xml", multiple: true %>
    <%= submit "Cargar" %>
  <% end %>
</section>
